@page
@model ForgotPasswordModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
=======
    ViewData["Title"] = "Forgot Password - AgriEnergyConnect";
}

<div class="row">
    <div class="wrapper mx-auto">
        <section>
            <h2 class="text-center mb-3">Forgot Your Password?</h2>
            <hr />

            <div class="Wrapper">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="mb-3 input-with-icon">
                        <input asp-for="Input.Email" class="form-control" placeholder="Enter your email" autocomplete="username" />
                        <i class='bx bxs-envelope'></i>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="row mb-3">
                        <div class="col d-grid">
                            <button type="submit" class="btn btn-primary rounded">Send Reset Link</button>
                        </div>
                    </div>

                    <!--<div class="d-flex gap-3">
                        <a class="btn btn-outline-primary rounded flex-grow-1" href="/Identity/Account/Login">Back to Login</a>
                    </div>-->
                </form>
            </div>
        </section>
>>>>>>> agri-part3/main
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
